<!DOCTYPE html>
<html lang ='en'>
  <head>
    <meta charset='utf-8'>
    <title>Rock_Paper_Scissors</title>
    <link rel ='stylesheet' href='/style.css'/>
  </head>
    <body>

    <img src = https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT9a3Rm_lRQhGfTyuugZXYyko4njjYGe272ZsDSxM_EB4hscc8B>
    
    <img src = https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTkTOgQc1hp6X_PXYgJ0a-bNSiNY2IM57UNmiMEYo5lHOJMa5eruw>
    
    <img src = https://d1mo3tzxttab3n.cloudfront.net/static/img/shop/220x235/xkdm6l.jpg>

    
    
    <nav>
      <ul>
        <li> 
          <a href="/">Home</a> 
        </li>
      </ul>  
    </nav> 
      <%=yield %>
    </body>
</html>
